<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(#{layout.categories}, null, null, ~{::body})}">

<body>
<div th:fragment="body">

    <h2 class="mb-3" th:text="#{layout.categories}">Categories</h2>

    <div class="row g-3">
        <div class="col-md-4" th:each="c : ${categories}">
            <a class="text-decoration-none"
               th:href="@{/categories/{id}/products(id=${c.id})}">

                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${c.name}">Category</h5>
                    </div>
                </div>

            </a>
        </div>
    </div>

</div>
</body>
</html>
