<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(#{admin.products}, ${backUrl}, null, ~{::section})}">

<section>

    <h2 class="mb-3" th:text="#{admin.products}">Products</h2>

    <div th:if="${#lists.isEmpty(products)}" class="alert alert-warning"
         th:text="#{products.noProducts}">
        No products yet.
    </div>

    <div class="row g-3" th:if="${!#lists.isEmpty(products)}">
        <div class="col-md-4" th:each="p : ${products}">
            <a class="text-decoration-none" th:href="@{/products/{id}(id=${p.id})}">
                <div class="card shadow-sm h-100">
                    <img th:if="${p.picName != null}"
                         th:src="@{/image/get(picName=${p.picName})}"
                         class="card-img-top" style="height:220px; object-fit:cover;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${p.title}">Title</h5>
                        <p class="card-text text-muted" th:text="${p.description}">Desc</p>

                        <div class="fw-bold"
                             th:text="${p.price} + ' ' + #{product.course}">
                            0 դրամ
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
</html>
